@import "tailwindcss";
@plugin "daisyui";
/* 
@font-face {
    font-family: "newpatagonia";
    src: url("/newpatagonia.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
 */
@theme {
    --font-kanit: Kanit, sans-serif;
    --font-open: "Open Sans", sans-serif;
    --font-zcool: "ZCOOL XiaoWei", cursive;
    --font-montserrat: "Montserrat", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    /* --font-patagonia: "newpatagonia", sans-serif; */
    --font-outfit: "Outfit", sans-serif;
    --font-open: "Open Sans", sans-serif;

    --color-staff: #124563;
    --color-grey: #222222;

    --color-blurple: #5865f2;

    --color-dys-purple: #40063d;
    --color-dys-purple-light: #5d0745;
    --color-dys-blue: #1d3745;
    --color-dys-white: #f3f6f9;
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, corporate;
}
